{% extends 'app_owlwatch/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<h1>Apps</h1>
{% endblock page_header %}

{% block content %}
<div class="card bg-secondary mb-3">
    <div class="card-header">
        <h2>Anxiety Questionnaire</h2>
    </div>
    <div class="card-body">
        <p class="card-text fs-4">A test to check how intense and frequency your
            symptoms of anxiety are. This Anxiety Symptoms Questionnaire is from Drs. Mark Pollack, Maurizio Fava, and
            Naomi Simon.</p>
        <a class="btn btn-primary btn-md" href="{% url 'app_owlwatch:test_page' user_id=user_id %}">
            Take Test</a>
    </div>
</div>
{% endblock content %}