{% extends 'app_owlwatch/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<h1>Anxiety Symptoms Questionnaire</h1>
<p class="lead">Answer the following in regards to what you have experienced in the
    past week:</p>
{% endblock page_header %}

{% block content %}

<h2>Intensity and Frequency Values</h2>
<table class="table table-striped">
    <thead class="fs-4">
        <th class="col">Values</th>
        <th class="col">Intensity</th>
        <th class="col">Frequency</th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">0</td>
            <td>None</td>
            <td>None</td>
        </tr>
        <tr>
            <th scope="row">1 - 3</td>
            <td>Mild</td>
            <td>Occasionally</td>
        </tr>
        <tr>
            <th scope="row">4 - 6</td>
            <td>Moderate</td>
            <td>Often</td>
        </tr>
        <tr>
            <th scope="row">7 - 9</td>
            <td>Severe</td>
            <td>Usually</td>
        </tr>
        <tr>
            <th scope="row">10</td>
            <td>Extreme distress</td>
            <td>All the time</td>
        </tr>
    </tbody>
</table>

<form action="{% url 'app_owlwatch:test_page' user_id=user_id %}" method="POST">
    {% csrf_token %}
    <div class="my-4">
        <h2 class="my-2">1. Anxiety</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question1_intensity.label_tag }}</p>
            {{ form.question1_intensity }}

            <p class="fs-4">{{ form.question1_frequency.label_tag }}</p>
            {{ form.question1_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">2. Nervousness</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question2_intensity.label_tag }}</p>
            {{ form.question2_intensity }}

            <p class="fs-4">{{ form.question2_frequency.label_tag }}</p>
            {{ form.question2_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">3. Worrying</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question3_intensity.label_tag }}</p>
            {{ form.question3_intensity }}

            <p class="fs-4">{{ form.question3_frequency.label_tag }}</p>
            {{ form.question3_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">4. Irritability</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question4_intensity.label_tag }}</p>
            {{ form.question4_intensity }}

            <p class="fs-4">{{ form.question4_frequency.label_tag }}</p>
            {{ form.question4_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">5. Muscle Tension or Tightness</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question5_intensity.label_tag }}</p>
            {{ form.question5_intensity }}

            <p class="fs-4">{{ form.question5_frequency.label_tag }}</p>
            {{ form.question5_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">6. Trouble Relaxing</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question6_intensity.label_tag }}</p>
            {{ form.question6_intensity }}

            <p class="fs-4">{{ form.question6_frequency.label_tag }}</p>
            {{ form.question6_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">7. Trouble Falling or Staying Asleep <i>(Rate the most troublesome symptom)</i></h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question7_intensity.label_tag }}</p>
            {{ form.question7_intensity }}

            <p class="fs-4">{{ form.question7_frequency.label_tag }}</p>
            {{ form.question7_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">8. Fatigue or Lack of Energy</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question8_intensity.label_tag }}</p>
            {{ form.question8_intensity }}

            <p class="fs-4">{{ form.question8_frequency.label_tag }}</p>
            {{ form.question8_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">9. Problems with Concentration or Attention</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question9_intensity.label_tag }}</p>
            {{ form.question9_intensity }}

            <p class="fs-4">{{ form.question9_frequency.label_tag }}</p>
            {{ form.question9_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">10. Trouble Remembering Things</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question10_intensity.label_tag }}</p>
            {{ form.question10_intensity }}

            <p class="fs-4">{{ form.question10_frequency.label_tag }}</p>
            {{ form.question10_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">11. Shortness of Breath, Chest Tightness, or Pain,
            Pounding/Skipping/Racing Heartbeat <i>(Rate the most troublesome
                symptom)</i>
        </h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question11_intensity.label_tag }}</p>
            {{ form.question11_intensity }}

            <p class="fs-4">{{ form.question11_frequency.label_tag }}</p>
            {{ form.question11_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">12. Stomach Upset, Nausea, Constipation, Diarrhea, or
            Irritable Bowels <i>(Rate the most troublesome symptom)</i></h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question12_intensity.label_tag }}</p>
            {{ form.question12_intensity }}

            <p class="fs-4">{{ form.question12_frequency.label_tag }}</p>
            {{ form.question12_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">13. Dizziness, Lightheadedness, Headaches, Trembling
            or Shakiness <i>(Rate the most troublesome symptom)</i></h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question13_intensity.label_tag }}</p>
            {{ form.question13_intensity }}

            <p class="fs-4">{{ form.question13_frequency.label_tag }}</p>
            {{ form.question13_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">14. Numbness, Tingling, Excessive Sweating, Flushing,
            or Frequenct Urination <i>(Rate the most troublesome symptom)</i></h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question14_intensity.label_tag }}</p>
            {{ form.question14_intensity }}

            <p class="fs-4">{{ form.question14_frequency.label_tag }}</p>
            {{ form.question14_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">15. Feeling Restless, Keyed Up, or On Edge</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question15_intensity.label_tag }}</p>
            {{ form.question15_intensity }}

            <p class="fs-4">{{ form.question15_frequency.label_tag }}</p>
            {{ form.question15_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">16. Anticipating or Fearing Something Bad Might
            Happen</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question16_intensity.label_tag }}</p>
            {{ form.question16_intensity }}

            <p class="fs-4">{{ form.question16_frequency.label_tag }}</p>
            {{ form.question16_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">17. Trouble Functioning at Home, Work, or Socially
            Due to Anxiety <i>(Rate the most troublesome symptom)</i></h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question17_intensity.label_tag }}</p>
            {{ form.question17_intensity }}

            <p class="fs-4">{{ form.question17_frequency.label_tag }}</p>
            {{ form.question17_frequency }}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>

{% endblock content %}