{% extends 'app_owlwatch/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<h1>Anxiety Symptoms Questionnaire</h1>
<p class="lead">Answer the following in regards to what you have experienced in the
    past week:</p>
{% endblock page_header %}

{% block content %}
<form action="{% url 'app_owlwatch:test_page' user_id=user_id %}" method="POST">
    {% csrf_token %}
    <div class="my-4">
        <h2 class="my-2">1. Anxiety</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question1_intensity.label_tag }}</p>
            {{ form.question1_intensity }}

            <p class="fs-4">{{ form.question1_frequency.label_tag }}</p>
            {{ form.question1_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">2. Nervousness</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question2_intensity.label_tag }}</p>
            {{ form.question2_intensity }}

            <p class="fs-4">{{ form.question2_frequency.label_tag }}</p>
            {{ form.question2_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">3. Worrying</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question3_intensity.label_tag }}</p>
            {{ form.question3_intensity }}

            <p class="fs-4">{{ form.question3_frequency.label_tag }}</p>
            {{ form.question3_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">4. Irritability</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question4_intensity.label_tag }}</p>
            {{ form.question4_intensity }}

            <p class="fs-4">{{ form.question4_frequency.label_tag }}</p>
            {{ form.question4_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">5. Muscle Tension or Tightness</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question5_intensity.label_tag }}</p>
            {{ form.question5_intensity }}

            <p class="fs-4">{{ form.question5_frequency.label_tag }}</p>
            {{ form.question5_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">6. Trouble Relaxing</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question6_intensity.label_tag }}</p>
            {{ form.question6_intensity }}

            <p class="fs-4">{{ form.question6_frequency.label_tag }}</p>
            {{ form.question6_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">7. Trouble Falling or Staying Asleep (Rate the most troublesome symptom)</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question7_intensity.label_tag }}</p>
            {{ form.question7_intensity }}

            <p class="fs-4">{{ form.question7_frequency.label_tag }}</p>
            {{ form.question7_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">8. Fatigue or Lack of Energy</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question8_intensity.label_tag }}</p>
            {{ form.question8_intensity }}

            <p class="fs-4">{{ form.question8_frequency.label_tag }}</p>
            {{ form.question8_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">9. Problems with Concentration or Attention</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question9_intensity.label_tag }}</p>
            {{ form.question9_intensity }}

            <p class="fs-4">{{ form.question9_frequency.label_tag }}</p>
            {{ form.question9_frequency }}
        </div>
    </div>

    <div class="my-4">
        <h2 class="my-2">10. Trouble Remembering Things</h2>
        <div class="d-flex flex-column gap-2">
            <p class="fs-4">{{ form.question10_intensity.label_tag }}</p>
            {{ form.question10_intensity }}

            <p class="fs-4">{{ form.question10_frequency.label_tag }}</p>
            {{ form.question10_frequency }}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        {% bootstrap_button button_type="submit" content="Submit" %}
    </div>
</form>
{% endblock content %}