<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Log</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'learning_logs:index' %}">
                Learning Log</a>

            <!-- Button that will appear when the screen is too small -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links that may collapse if the screen is too small -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- me-auto: shifts links to the left -->
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
                    </li>
                </ul> <!-- End of links on left side of navbar -->

                <!-- Account-related links -->
                <!-- ms-auto shifts links to the right -->
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">

                    {% if user.is_authenticated %}
                    <li class="nav-item me-2">
                        <span class="navbar-text me-2 text-primary">{{ user.username }}</span>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                        </la>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    {% endif %}

                </ul> <!-- End of account-related links -->

                {% if user.is_authenticated %}
                <!-- Button appears at the left side, after Hello user message. -->
                <form action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-secondary btn-sm">
                        Log out</button>
                </form>
                {% endif %}

            </div> <!-- Closes collapsible parts of navbar -->

        </div> <!-- Closes navbar's container -->
    </nav> <!-- End of navbar -->

    <main class="container">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>

</body>

</html>