{% extends 'blogs/base.html' %}

{% block page_header %}
<h2>Blogs</h2>
{% endblock page_header %}

{% block content %}
<ul class="list-group border-bottom pb-2 mb-2">
    {% for blog in blogs %}
    <li class="list-group-item border-0"><a href="{% url 'blogs:posts' blog.id %}">{{ blog.text }}</a></li>
    {% empty %}
    <li class="list-group-item border-0">No blogs added yet.</li>
    {% endfor %}
</ul>

<a class="btn btn-primary btn-md mt-2" href="{% url 'blogs:new_blog' %}">Add a new blog</a>
{% endblock content %}