{% extends "blogs/base.html" %}

{% block page_header %}
<h2><a href="{% url 'blogs:blogs_page' %}">Blogs</a></h2>
{% endblock page_header %}

{% block content %}

<form action="{% url 'blogs:delete_blog' blog.id %}" method="POST">
    {% csrf_token %}
    <h4>Are you sure you want to delete {{ blog }} and its posts?</h4>
    <button type="submit" class="btn btn-danger btn-md">Delete</button>
    <a class="btn btn-secondary btn-md ms-1" href="{% url 'blogs:blogs_page' %}">
        Cancel</a>

    {% for post in posts %}
    <div class="card my-3">
        <h3 class="card-header">
            {{ post.title }}
        </h3>
        <div class="card-body">
            <small>{{ post.date_added }}</small>
            <p>{{ post.content|linebreaks }}</p>
            <a class="btn btn-primary btn-md" href="{% url 'blogs:edit_post' post.id %}">
                Edit post
            </a>
        </div>
    </div>
    {% empty %}
    <p class="mt-4">No posts added for this blog yet.</p>
    {% endfor %}
</form>

{% endblock content %}