{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>

<body>

    <!-- Looping over our tasks variable passed in from views.py using Django template system -->
    {% for task in tasks %}
    <ul>
        <li>{{ task }}</li>
    </ul>
    {% endfor %}
    <!-- Remember to end the loop with python  -->
</body>

</html>