<!-- Extends the layout.html file, for reusing redundant html code. -->
{% extends "tasks/layout.html" %}

{% block body %}
<!-- Looping over our tasks variable passed in from views.py using Django template system .-->
<h1>Tasks</h1>
<ul>
    {% for task in tasks %}
    <li>{{ task }}</li>
    <!-- Checks if the list is empty. -->
    {% empty %}
        <li>No tasks.</li>
    {% endfor %}
    <!-- Remember to end the loop with python  -->
</ul>
<!-- Link to a url called 'add' in urls.py file, this uses the 'name' parameter. 
This also makes use of the app name 'tasks' in urls.py to make the link it is 
referring to more specific.-->
<a href="{% url 'tasks:add' %}">Add a New Task</a>
{% endblock %}